<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3><%= title %></h3>
    <ul>
        <li>이름: <%= userInfo.username %></li>
        <li>성별: <%= userInfo.gender %></li>
        <li>생일: <%= userInfo.year %>년<%= userInfo.month %>월<%= userInfo.day %>일</li>
        <li>취미: <%= userInfo.hobby %></li>
        <% if(userInfo.color.result){ %>
            <li>색: <%= userInfo.color.color %></li>
        <% } %>
        <% if(userInfo.number.result){ %>
            <li>숫자: <%= userInfo.number.number %></li>
        <% } %>
    </ul>
    <a href="/">홈으로 이동</a>
</body>
</html>